# World Bank World Development Indicator Datatset
## COme back to this later.

In [41]:
import pandas as pd

# import world development index data
wdi = pd.read_csv('Datasets/WDIData.csv')
# wdi.info()
wdi.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 64
0,Arab World,ARB,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"2005 PPP conversion factor, private consumptio...",PA.NUS.PRVT.PP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,82.783289,83.120303,83.533457,83.897596,84.171599,84.510171,NaN,NaN,NaN,NaN
3,Arab World,ARB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,86.428272,87.070576,88.176836,87.342739,89.130121,89.678685,90.273687,NaN,NaN,NaN
4,Arab World,ARB,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,73.942103,75.244104,77.162305,75.538976,78.741152,79.665635,80.749293,NaN,NaN,NaN

In [108]:
# create a list feature_names containing the column names: but replace all the years with "year" 
feature_names = list(wdi.columns[0:5])
feature_names[4] = "Year"

# add an eletra element value to containt the data entry for that year
feature_names += ['Value']
print(feature_names)

# create a list row_vals containing the value of row  51 up to the first 4 coulmns and teh value of the year clumn
row_51 = wdi[wdi.index == 50].values
row_51_list = row_51.tolist()
row_vals = (row_51_list[0][0:4]) + ['1960'] +[row_51_list[0][5]]
print(row_vals)

['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code', 'Year', 'Value']
['Arab World', 'ARB', 'Adolescent fertility rate (births per 1,000 women ages 15-19)', 'SP.ADO.TFRT', '1960', 135.343859063435]